<h1>Edit here</h1>

<%= form_for @todo, Routes.todo_path(@socket, :update, @todo.data), fn f -> %>
<%= text_input f, :title %>
<%= submit "Save", phx_disable_with: "Saving.." %>
<% end %>
<!--
<form action="<%= Routes.todo_path(@socket, :update, @todo.data) %>">
  <%= text_input :todo, :title %>
  <%= submit "Save", phx_disable_with: "Saving.." %>
</form>
-->
