<%= render(MyAppWeb.SharedView, "top-nav.html", conn: @conn) %>

<div class="sub-container">
  <div class="pc-content-container">
    <%= render(MyAppWeb.SharedView, "side-menu.html", conn: @conn) %>
    <div class="pc-content">
      <p class="page-titles">Items To Buy</p>

    </div>
  </div>
</div>

