.color-red {
    color: red;
}
.color-blue {
    color: #1769ff;
}
.bold {
    font-weight: 500;
}
.red {
    background-color: red;
    border: 1px solid red;
    color: #fff;
}
.red:hover {
    background-color: #eef;
    color: red;
}
.blue {
    background-color: #1769ff;
    border: 1px solid #1769ff;
    color: #fff;
}
.blue:hover {
    background-color: #eef;
    color: #1769ff;
}
.alert-msg {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: -2rem;
}
.sub-menu-profile {
    text-align: center;
    border: 1px solid red;
}
.side-menu-profile img {
    max-width: 5rem;
    max-height: 5rem;
}
.side-menu-profile > p {
    margin: 0;
}
.side-menu-profile > p a {
    color: red;
}
.side-menu-profile > p a:hover {
    color: #fff;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 5px 15px;
    border: 1px solid #1769ff;
    background-color: #1769ff;
}
#schoolname {
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    padding: 0;
    position: relative;
    /*margin-left: -25rem;*/
    color: #fff;
}
#tagname {
    margin: -5px;
    padding: 0 0 10px 0;
    font-size: 14px;
    color: #c0c0c0;
    word-spacing: 5px;
    text-align: center;
    letter-spacing: 2px;
}
nav .menus {
    display: flex;
    gap: .5em;
    font-size: 18px;
}
.menus li {
    list-style: none;
    padding: 10px;
}

.menus a {
    font-size: 18px;
}

.position-icons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0;
}

nav .menus a {
    text-decoration: none;
    color: #eee;
    font-weight: 600;
    font-size: 16px;
}

nav .menus li a:hover {
    color: #808080;
}

.logo-name-container {
    display: flex;
}
#pcu-logo {
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}

.opms-definition {
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
}
.opms-definition-title {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 2.2rem;
}
/* Footer styles */
.footer-company-name {
    font-weight: 500;
    font-size: 2.2rem;
    color: #c0c0c0;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0 .5rem 0;
}
footer {
    background-color: #1769ff;
    color: var(--white);
    margin-top: .2rem;
    margin-bottom: -2.5rem;
    padding: 2rem 0 4rem 0;
}
.footer-options {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 1rem 0 5rem;
}
.footer-options div a {
    color: #eee;
    font-size: 1.6rem;
}
.footer-options div a:hover {
    color: #fff;
    font-weight: bold;
}
.footer-options li {
    list-style: none;
    text-align: center;
}
.copyright {
    text-align: center;
    margin-top: 3rem;
}
.copyright p {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    color: #eee;
}

/* Image Slider */
/* styles for home page image animation */
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.slider-container{
    overflow: hidden;
    border: 10px solid #ddd;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}

.slider-wrapper{
    width: 100%;
    display: flex;
    animation: slide 12s infinite;
}

/* Session form like login */
.session-form {
    background-color: #fff;
    margin: 5rem auto;
    max-width: 40rem;
    max-height: 100rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
}
.close-btn {
    margin: 0 .5rem;
    font-size: 2.5rem;
}
.close-btn:hover {
    color: #0069d9;
}
/*
.container {
    width: 100vw;
    height: 100vh;
}
*/
.sub-container {
    background-color: #eef;
}
.page-content {
    padding: 0 1.5rem;
}
.contacts {
    display: flex;
    padding: 5px 0;
}
.contacts img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.pc-content-container {
    display: flex;
}
.side-menu-container {
    background-color: #1769ff;
    width: 25%;
    height: 100vh;
    padding: 1rem 0 3rem 0;
}
.side-menu-container a {
    color: #eee;
    font-weight: 500;
    font-size: 1.8rem;
}
.side-menu-container div {
    text-align: center;
    padding: .3rem 0;
}
.side-menu-container .a:hover {
    background-color: #eee;
    color: #000;
}
/*
.side-menu-container a:hover {
    color: #0069d9;
    text-decoration: underline;
}*/
.pc-content {
    padding: 1rem;
    width: 100%;
}
.page-titles {
    font-weight: 500;
    margin: .2rem 0 1rem .2rem;
    color: #000000;
    font-size: 1.8rem;
}
.personnel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}
.personnel {
    border: 1px solid #c0c0c0;
    border-radius: 1rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
.personnel img {
    max-width: 5rem;
    max-height: 5rem;
}
.personnel p {
    padding: 0;
    margin: 0;
}
.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem 1rem;
}
.item {
    text-align: center;
    font-weight: bold;
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 2.5rem 0;
    background-color: #ddd;
}
.item:hover {
    background-color: #c0c0c0;
}
.item-container {
    text-align: center;
    font-weight: bold;
    color: #000000;
    border: 1px solid #c0c0c0;
    border-radius: 1rem;
}
.item-container img {
    width: 20rem;
    max-height: 10rem;
    object-fit: cover;
}
.item-container p {
    margin: 0;
}
.item-container a {
    padding: .4rem 2rem;
    margin: .4rem 0 .8rem 0;
    border-radius: 4px;
}
.item-container-show {
    display: flex;
}
.item-container-show div {
    padding: 0 1rem;
}
.item-title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin: 0 0 .5rem 0;
}
.item-description {
    margin: 0 0 3rem 0;
}
.item-container-show img {
    max-width: 50%;
    max-height: 15rem;
}
.negotiate-btn {
    padding: 1rem 3rem;
    border: 1px sold #0069d9;
    background-color: #0069d9;
    color: #fff;
    border-radius: 5px;
}
.negotiate-btn:hover {
    background-color: #eee;
    color: #0069d9;
    border: 1px solid #0069d9;
}
.negotiator-name {
    margin: 0 .1rem;
    font-weight: bold;
}
.negotiator-msg {
    margin: 0 1rem 1rem .1rem;
}
/* Company */
.company-logos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
.company-logo-container {
    text-align: center;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
}
.company-logo-container:hover {
    border: 1px solid black;
}
.company-logo-container img {
    width: 70px;
    height: 70px;
}
.company-logo-container p {
    color: #000000;
}
