@media only screen and (min-width: 768px) {
    body {
	background-image: url("/images/opms-bg.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
    }
    .container {
	background-color: transparent;
    }
    .search-container {
	margin: 0 auto;
	display: flex;
    }
    .search-container > input {
	
    }
    .statuses {
        padding: .4rem 1rem;
	font-weight: 500;
	margin-right: .5rem;
    }
    .side-menu-container {
	width: 100%;
	height: 100%;
	margin: 0;
    }
    .side-menu-container > div {
	text-align: left;
	padding-left: 2.6rem;
    }
    .side-menu-container > div > a {
	padding-left: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #000;
    }
    #side-bar-menu {
	border-right: 3px solid #fff;
    }
    #nav {
	display: flex;
	padding: 1rem 0 0 1rem;
    }
    #pcu-logo {
	padding-left: 1rem;
    }
    #pcu-logo > img {
	width: 100px;
	height: 50px;
    }
    #schoolname {
	font-size: 2rem;
	padding-left: 1rem;
    }
    #tagname {
	font-size: 1.4rem;
	padding-left: 1rem;
	color: #000;
    }
    #page-content-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
    }
    .page-content {
	margin: 2rem 3rem 3rem 2rem;
    }
    .page-titles {
	font-size: 1.8rem;
	font-weight: 550;
	padding-bottom: 2rem;
    }
    .page-content > p {
	font-size: 1.6rem;
    }
    .pr-updates-count {
	color: #fff;
	font-weight: bold;
	padding: .15rem .6rem;
	border-radius: 50%;
	border: 1px solid red;
	background-color: red;
	margin-left: -1.2rem;
	margin-top: -5rem;
	z-index: 99;
    }
    .statuses-blue {
	font-weight: 500;
	color: #1769ff;
	padding: .3rem 1rem;
	border: .5px solid #1769ff;
	border-radius: 4px;
    }
    .statuses-blue:hover {
	background-color: #1769ff;
	color: #fff;
    }
	
    #sm-home-container {
	position: top;
	display: none;
    }
    nav {
	display: block;
    }
    #sm-name-tag {
	margin-top: -15rem;
	text-align: center;
    }
    #sm-name-tag > h1 {
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0;
	color: #1769ff;
    }
    #sm-name-tag > p {
	margin-top: -1rem;
	font-weight: bold;
	color: #fff;
    }

    /* menu toggle container */
    #sm-menu-container {
	padding-top: 1.5rem;
	text-align: center;
	background-color: #1769ff;
    }
    #open, #close {
	font-size: 4rem;
	font-weight: 500px;
	color: #fff;
	margin: 0 auto;
    }
    #close {
	font-weight: bold;
	display: none;
    }

    /* menu options */
    #sm-menu-options-container {
	background-color: #1769ff;
	text-align: center;
	padding-bottom: 2rem;
	display: none;
    }
    #sm-menu-options-container > div {
	padding: 0.5rem 0;
    }
    #sm-menu-options-container > div > a {
	font-weight: 400;
	font-size: 1.2rem;
	color: #fff;
    }
    #sm-menu-options-container > div > a:hover {
	color: #c0c0c0;
    }
    .sub-container {
	margin: 0;
	padding: 0;
	background: #eef;
    }
    .home-page-content-container {
	display: flex;
    }
    .home-page-content {
	text-align: center;
	margin: 5rem 2rem 5rem 1.5rem;
    }
    .home-page-content > img {
	width: 500px;
	height: 160px;
	object-fit: cover;
	padding-bottom: 0.5rem;
    }
    .home-page-content > p {
	font-size: 1.4rem;
    }
    .footer {
	margin: 0;
	padding: 0;
	background-color: #1769ff;
    }
    #opms-logo {
	text-align: center;
	padding-top: 3rem;
    }
    #opms-logo > img {
	max-width: 50px;
	max-height: 50px;
    }
    .footer-company-name {
	color: #fff;
	font-weight: 550;
	font-size: 1.6rem;
	margin: 0 0 3rem 0;
	padding: 0;
    }
    .footer-options {
	display: none;
	margin: 0 auto;
    }
    .footer-options > div {
	text-align: center;
	font-weight: 500;
    }
    .footer-options > div > a {
	font-size: 1.5rem;
    }
    .copyright {
	padding-bottom: 3rem;
    }
    .copyright > p {
	color: #000;
	font-size: 1rem;
    }

    /* session form */
    .session-form-login {
        background-color: #eef;
        border: 1px solid #eef;
        border-radius: 5px;
        width: 30%;
        /*height: 100%;*/
        margin: 10% auto;
        padding: 2.5rem;
    }

    .session-form {
        background-color: #eef;
        border: 1px solid #eef;
        border-radius: 5px;
        width: 30%;
        /*height: 100%;*/
        margin: 10% auto;
        padding: 2.5rem;
    }
}
