@media only screen and (max-width: 767px) {
    .page-content {
	margin: 1.5rem 1.5rem 3rem 1.5rem;
	padding-top: 5rem;
    }
    .pc-content-container {
	border: 1px solid #000;
	display: none;
    }
    .sm-user-accounts-container {
	text-align: left;
	border: 1px solid red;
    }
    .page-titles {
	top: 0;
	position: fixed;
	background-color: #eef;
	width: 100%;
	font-size: 2rem;
	padding: 1rem 0 1rem 0;
	margin-left: -3rem;
	border-bottom: 1px solid  #c0c0c0;
    }
    .page-titles > i {
	margin-left: 2.5rem;
    }
    .sm-top-options {
	float-right: 1rem;
    }
    #side-bar-menu {
	display: none;
    }
    nav {
	display: none;
    }
    body {
	background-color: #eef;
    }
    .session-form {
	margin: 0;
	max-width: 100%;
	height: 100%;
    }
    #sm-home-container {
	position: top;
	display: block;
    }
    #sm-name-tag {
	margin-top: -11rem;
	text-align: center;
    }
    #sm-name-tag > h1 {
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0;
	color: #1769ff;
    }
    #sm-name-tag > p {
	font-size: 1.8rem;
	margin-top: 0rem;
	font-weight: bold;
	color: #fff;
    }

    #sm-name-tag > p > span {
	color: #1769ff;
    }

    /* menu toggle container */
    #sm-menu-container {
	margin-top: -1rem;
	padding-top: 0;
	text-align: center;
	background-color: #1769ff;
    }
    #open, #close {
	font-size: 4rem;
	font-weight: 500px;
	color: #fff;
	margin: 0 auto;
    }
    #close {
	font-weight: bold;
	display: none;
    }

    /* menu options */
    #sm-menu-options-container {
	background-color: #1769ff;
	text-align: center;
	padding-bottom: 2rem;
	display: none;
    }
    #sm-menu-options-container > div {
	padding: 1rem 0;
    }
    #sm-menu-options-container > div > a {
	font-weight: 500;
	font-size: 1.5rem;
	color: #fff;
    }
    #sm-menu-options-container > div > a:hover {
	color: #c0c0c0;
    }
    .sub-container {
	background: #eef;
    }
    .sm-account-container {
	text-align: center;
	padding-top: 7rem;
    }
    .sm-account-container > i {
	font-size: 6rem;
    }
    .sm-account-container > h3 {
	padding-top: 2rem;
	font-weight: bold;
    }
    .sm-account-container > p {
	padding: 0;
	margin-top: -1rem;
    }
    .sm-account-container > button {
	margin: 5rem 0;
    }
    .sm-page-content > .page-titles {
	margin: -.1rem 0 0 0;
    }
	
    .home-page-content-container {
	padding: 3rem 1rem 1rem 1rem;
	margin: 0 0 1rem 0;
    }
    .home-page-content {
	margin: 2rem 1rem 5rem 1rem;
    }
    .home-page-content > img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	margin: .5rem auto;
	border-radius: 5px;
    }
    .home-page-content > p {
	text-align: justify;
    }
    .footer {
	margin: 0;
	padding: 0;
	background-color: #1769ff;
    }
    #opms-logo {
	text-align: center;
	padding-top: 3.5rem;
    }
    #opms-logo > img {
	max-width: 120px;
	max-height: 120px;
    }
    .footer-company-name {
	color: #fff;
	font-weight: 550;
	font-size: 1.8rem;
	margin: 0 0 3rem 0;
	padding-top: 1rem;
    }
    .footer-options {
	margin: 0 0 5rem 0;
    }
    .footer-options > div {
	text-align: left;
    }
    .footer-options > div > a {
	font-weight: 450;
	font-size: 1.5rem;
    }
    .footer-options > div > a:hover {
	color: #000;
    }
    .copyright {
	padding-bottom: 3rem;
    }
    .copyright > p {
	color: #000;
    }

    /* session form */
    .session-form-login {
	background-color: #eef;
	width: 100vw;
	height: 100vh;
	padding: 1.5rem;
    }

    .session-form {
	background-color: #eef;
	width: 100%;
	height: 100%;
	padding: 1.5rem;
    }
}
