<% alias MyAppWeb.TodoLiveView %>

<%= case @live_action do %>

<% :index -> %> <%= Phoenix.View.render(TodoLiveView, "index.html", assigns) %>

<% :register -> %>
<%= TodoLiveView.render(TodoLiveView, "register.html") %>

<% :show -> %>
<%= Phoenix.View.render(TodoLiveView, "show.html", assigns) %>

<% :edit -> %>
<%= Phoenix.View.render(TodoLiveView, "edit.html", assigns) %>

<% :update -> %>
<%= Phoenix.View.render(TodoLiveView, "index.html", assigns) %>
<% end %>
