<div class="menu-top">
    <a href="#" class="nav-btn-top">News<sup class="popup-notice">9+</sup></a>
    <a href="#" class="nav-btn-top">Pages<sup class="popup-otice">9+</sup></a>
    <a href="#" class="nav-btn-top">Shop<sup class="popup-notice">9+</sup></a>
    <a href="#" class="nav-btn-top">Bank<sup class="popup-notice">9+</sup></a>
    <a href="#" class="nav-btn-top">Chat<sup class="popup-notice">9+</sup></a>
    <a href="#" class="nav-btn-top">Menu<sup class="popup-notice">9+</sup></a>
    </div>
