<nav id="nav">
  <div class="logo-name-container">
    <div id="pcu-logo">
      <img src="/images/opms-logo.png"/>
    </div>
    <div id="schoolname">Southern Leyte State University
      <p id="tagname">Online Procurement Monitoring System</p>
    </div>
  </div>
</nav>
